[Desktop Entry]
Version=1.0
Type=Application
Name=Lab Mode
GenericName=Development Environment
Comment=Enable YasserOS developer Lab Mode
Icon=applications-science
Exec=ycc --page lab
Terminal=false
StartupNotify=true
Categories=Development;Science;YasserOS;
Keywords=yasseros;lab;developer;mode;
